/* Auteur: Bradley Zandgrond */

body
{
    margin: 0;
    padding: 0;
    background: #000000;
}

.play, .challenges, .settings, .extra
{
    background-color: #ffffff;
    border: none;
    width: 150px;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: crosshair;
    transform: translate(-50%, -50%);
}

.fa-compress, .compress
{
    background: transparent;
    font-size: 25px;
    border: 0;
    outline: 0;
    color: #ffffff;
}

#game
{
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 70vh;
    position: fixed;
    cursor: crosshair;
    border: solid 2px white;
    transform: translate(-50%, -50%);
}

#gameContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    cursor: crosshair;
}

#target
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    cursor: crosshair;
}

/* Add this to your existing stylegame.css or create a new CSS file */

#score, #accuracy, #misses
{
    color: white;
    display: inline-flex;
    position: absolute;
    bottom: 10px;
}

.bottom
{
    display: inline-flex;
    position: absolute;
    bottom: 10px;
    justify-content: space-evenly;
    align-items: center;
}